<div class="col-md-4 mb-4">
    <div class="card" style="width: 100%;">

        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>

            <div class="row">
                <p>@Model.Option1Text : @Model.Option1VotesCount</p>

                <p>@Model.Option2Text : @Model.Option2VotesCount</p>

                <p>@Model.Option3Text : @Model.Option3VotesCount</p>
            </div>

        </div>

        <a href="/Poll" class="btn btn-primary">Back</a>

    </div>
</div>