<div class="col-md-4 mb-4">
    <div class="card" style="width: 100%;">

        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
     
            <canvas id="pollChart" width="400" height="200"></canvas>
            @section Scripts {
                <script>
                    var chart = new Chart(document.getElementById('pollChart'), {
                        type: 'bar',
                        data: {
                            labels: ['@Model.Option1Text', '@Model.Option2Text', '@Model.Option3Text'],
                            datasets: [{
                                label: 'Votes',
                                data: [@Model.Option1VotesCount, @Model.Option2VotesCount, @Model.Option3VotesCount],
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        precision: 0
                                    }
                                }
                            }
                        }
                    });
                </script>
            }


            <a href="/Poll" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>