@model Domain.Models.Poll

<div class="col-md-4 mb-4">
    <div class="card" style="width: 100%;">

        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>


            <form action="/Poll/Vote" method="post" class="container mt-4" enctype="multipart/form-data">
                <div class="row">
                       
                    <input type="hidden" name="id" value="@Model.Id" />

                    <label>
                        <input type="radio" name="option" value="Option1"> @Model.Option1Text
                    </label>
                    <label>
                        <input type="radio" name="option" value="Option2"> @Model.Option2Text
                    </label>
                    <label>
                        <input type="radio" name="option" value="Option3"> @Model.Option3Text
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Vote</button>
            </form>
            

            
        </div>
    </div>
</div>